div.title-wrapper {
  display: flex;
  justify-content: center;
}

div.title-wrapper > div.title-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 15px;
}

div.title-wrapper > div.title-text-wrapper > span.title-text {
  font-size: 4rem;
  color: var(--var-main-color);
  z-index: 2;
}

div.title-wrapper > div.title-text-wrapper > div.title-background {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
}

div.title-wrapper
  > div.title-text-wrapper
  > div.title-background
  > div.title-background-bottom {
  height: 100%;
}

div.title-wrapper
  > div.title-text-wrapper
  > div.title-background
  > div.title-background-bottom--edge {
  background-color: var(--var-main-color);
  width: 5px;
}

div.title-wrapper
  > div.title-text-wrapper
  > div.title-background
  > div.title-background-bottom--middle {
  background-color: var(--var-sub-color1);
  width: 100%;
}

div.title-wrapper > div.title-tag-wrapper {
  margin-top: auto;
  height: 50%;
}

div.title-wrapper > div.title-tag-wrapper > div.title-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--var-main-color);
  color: var(--var-white);
  height: 35%;
  padding: 5px 0;
  font-size: 0.8rem;
}

div.title-wrapper > div.title-tag-wrapper > div.title-tag--left {
  padding-left: 10px;
  padding-right: 5px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

div.title-wrapper > div.title-tag-wrapper > div.title-tag--right {
  padding-left: 5px;
  padding-right: 10px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
