:root {
  --var-max-width: 1920px;

  --var-black: #000;
  --var-white: #fff;

  --var-main-black: #222;
  --var-main-color: #715eef;
  --var-sub-color1: #ccc2fb;
  --var-sub-color2: #bccdf7;
}

div.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div.app > div.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.app > div.header-wrapper > header.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--var-max-width);
  height: 80px;
  transition: scale 0.5s ease-in;
}

div.app > div.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

div.app > div.page-wrapper > main {
  display: flex;
  height: 100%;
}

div.app > div.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.app > div.footer-wrapper > footer.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--var-max-width);
  height: 80px;
}
